In [1]:
import pandas as pd 
import numpy as np

In [15]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import Binarizer

In [5]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [6]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [7]:
df['Family']= df['Parch'] + df['SibSp']

In [8]:
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [9]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [10]:
df.fillna(df['Age'].mean(),inplace=True)

In [11]:
df.isnull().sum()

Age         0
Fare        0
Survived    0
Family      0
dtype: int64

In [13]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=0)

In [16]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)
accuracy_score(y_test, y_pred)

0.6753731343283582

In [17]:
clf = DecisionTreeClassifier()
np.mean(cross_val_score(clf, x,y, cv=10, scoring='accuracy'))

np.float64(0.6442322097378277)

In [18]:
trf = ColumnTransformer([
    ('first', Binarizer(copy=False), ['Family'])
],remainder='passthrough')

In [19]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.transform(x_test)

In [21]:
clf = DecisionTreeClassifier()
clf.fit(x_train_trf, y_train)

y_pred2 = clf.predict(x_test_trf)
accuracy_score(y_test, y_pred2)

0.664179104477612

In [23]:
x_trf = trf.fit_transform(x)
np.mean(cross_val_score(DecisionTreeClassifier(), x_trf,y,cv=10, scoring='accuracy'))

np.float64(0.6487515605493133)